.container__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    position: absolute;
    display: none;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 24px;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.container__texto {
    display: none;
}

.opcoes {
    display: none;
}

.container__botao:checked~.menu__rotulo>.container__menu-hamburguer{
    background: url("../img/MenuAberto.svg") no-repeat;
    background-position: center;
}

.container__botao:checked~.menu__rotulo {
    background: var(--azul-degrade);
}

@media screen and (min-width:1024px) {
    .container__menu-hamburguer, .container__imagem-trasparente {
        display: none;
    }   

    .container__titulo {
        display: block;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        font-size: 30px;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1em;
    }

    .opcoes__link {
        color: var(--preto);
        text-decoration: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
    }

    .lista-menu {
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width:1728px) {
    .cabecalho {
        padding: 1em 3.5em;
    }

    .opcoes {
        display: flex;
        margin: 0 auto 0 3em;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        margin-right: 2em;
    }

    .container__texto {
        margin-left: .5em;
        font-size: 20px;
        color: var(--preto);
    }

    .container__imagem {
        padding: 0;
    }

    .container__texto {
        display: block;
    }

    .opcoes__botao:checked ~ .opcoes__item {
        background: var(--azul-degrade);
    }
}